{"filter":false,"title":".gitignore","tooltip":"/meteor_demo/.meteor/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1418568253024,"hash":"5a9b181f58cbce1450c74d07918b188b712610b6"}